body {
    background-image: url("./wallpaper.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding: 10vh 20vw 0px;
}
#mainContainer {
    background-color: rgba(250,235,215,0.6);
    display: flex;
    padding: 10vh 10vw;
    flex-direction: column;
}
#password {
    font-size: 4vh;
}
#submit {
    font-size: 3vh;
    width: 100%;
}
.sides {
    display: none;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: -10vh
}
#leftside {
    left: 0
}
#rightside {
    right: 0;
}
#app > div > p {
    margin-top: 30vh;
    padding: 5vh;
    display: none;
    font-size: 3vh;
    background-color: rgba(250,235,215,0.8);
}
#interactivity {
    position: absolute;
    top: 5vw;
    left: 25vw;
    background-color: rgba(250,235,215,0.6);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#information  {
    display:none;
}
input[type="checkbox"] {
    width: 5vh
}
input:checked ~ #information {
    display:flex;
    flex-direction: row;
}
#right, #left {
    display: block;
    width: 25vw;
    box-sizing: border-box;
    padding: 20px, 5vw;
    font-size: 3vh;
}

#goLetter {
    font-size: 2vh;
}
div:has(~ div #goLetter[style]):has(~ div input:not(:checked)) p {
    display: block !important;
}
div:has(#goLetter[style]) #right, div:has(#goLetter[style]) #left {
    width: 30vw;
}
div:has(#goLetter[style]) {
    left: 20vw;
    width: 60vw !important;
}